<% provide(:title, "Home") %>

<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Welcome to the Sample App!
      </h1>
      <h2 class="subtitle has-text-centered">
        This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
      </h2>
      <%= link_to "Sign Up Now!", "#", class: "button is-info is-large" %>
    </div>
  </div>
</section>