<footer class="footer">
  <small></small>
  <nav>
    <div>
      <%= link_to "About",   '#' %>
      <%= link_to "Contact", '#' %>
      <a href="https://news.railstutorial.org/">News</a>
    </div>
  </nav>
</footer>